.topbar{
    background-color: #252c48;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    z-index: 999;
}
.topbarWrapper{
    height: 100%;
    display: flex;
    padding: 0px 20px;
    align-items: center;
    color: white;
    justify-content: space-between;
}
.logo{
    font-weight: bold;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.topbarIconContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
}

.topIconBadge{
    position: absolute;
    top: -1px;
    right:-2px;
    font-size: 10px;
    background-color: #8857de;
    color: white;
    width:15px;
    height:15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topright{
    display: flex;
    align-items: center;
}

.topAvatar{
    width:40px;
    height:40px;
    border-radius: 50%;
    cursor: pointer;
}
