.userList{
    flex:4;
    padding: 12px 24px;
}

.userTitle{
    color: rgb(250, 250, 255);
    margin-bottom: 20px;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListImg{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.userListEdit{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px 15px;
    background-color: #60ff445b;
    color: white;
    margin-right: 20px;
}

.userListDelete{
    color: rgb(200, 68, 68);
    cursor :pointer ;

}