.user{
    flex:4;
    padding: 20px;
    color: white;
}

.userTitleContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAddButton{
    width: 80px;
    border:none;
    padding: 5px;
    background-color: rgb(82, 115, 164);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 16px;
}

.userContainer{
    display: flex;
    margin-top: 20px;
}
.userShow{
    flex:1;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
    border-radius: 10px;
}
.userUpdate{
    flex:2;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 10px -1px rgba(0,0,0,0.5);
    margin-left: 20px;
    border-radius: 10px;
}

.userShowTop{
    display: flex;
    align-items: center;
}
.userShowImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.userShowTopTitle{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.userShowUsername{
    font-weight: 600;
}

.userShowUserTitle{
    font-weight: 400;
    font-size: 14px;
    color: rgb(159, 160, 192);
}

.userShowTitle{
    font-size: 14px;
    font-weight: 600;
    color: rgb(111, 112, 143);;
}

.userShowBottom{
    margin-top: 20px;
}

.userShowInfo{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    color: rgb(250, 250, 255);
}

.userTitle{
    color: rgb(250, 250, 255);
}

.userShowIcon{
    font-size: 16px !important;
    margin-right: 5px;
}