.sidebar{
    flex:1;
    height: 100%;
    /* height : calc(100vh - 50px);  */
    background-color: #29314d;
    position: sticky;
    top:50px;
    border-radius: 10px;
}

.sidebarWrapper{
    padding: 20px;
    color: white;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: rgb(159, 160, 192);
}

.sidebarList{
    list-style: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active , .sidebarListItem:hover{
    background-color: #354065;
}

.sidebarIcon{
    margin: 5px;
    font-size: 20px !important;
}